body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(169deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.7) 100%), url('https://source.unsplash.com/7JX0-bfiuxQ/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
