
.box{
    overflow: hidden;
    padding: 0px 0 40px 60px;
    margin-top: -80px;
}

.box ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.5s linear;
    top:0
}

.box ul:last-of-type{top:80px}

.box ul:before{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border:1px dashed #c4c4c4;
    position: absolute;
    top:0;
    left:30px
}

.box ul li{
    margin: 20px 60px 60px;
    position: relative;
    padding: 10px 20px;
    background:rgba(255, 255, 255, 0.3);
    color:#6c757d;
    border-radius: 10px;
    line-height: 20px;
}


.box ul li > span{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border:1px solid #007EF2;
    position: absolute;
    top:0;
    left:-30px
}

.box ul li > span:before,.box ul li > span:after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background:#007EF2;
    border:2px solid #f8f9fa;
    position: absolute;
    left:-10.5px
}

.box ul li > span:before{top:-10px}
.box ul li > span:after{top:95%}

.box .time span{
    position: absolute;
    left: -100px;
    color:#6c757d;
    font-size:80%;
    font-weight: bold;
}
.box .time span:first-child{top:-16px}
.box .time span:last-child{top:94%}
